<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>探しものは何ですか</h1>
        <% if not logged_in? %>
          <%= link_to "AmazonListを始める", signup_path, class: "btn btn-outline-primary" %>
          <%= link_to "/auth/twitter", class: "btn-floating btn-lg btn-tw" ,method: :post do %>
           <span class="fab fa-twitter">Twitterアカウントでログイン</span> 
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>