<% content_for :cover do %>
   <div class="cover">
      <div class="cover-inner">
         <div class="cover-contents">
            <h1>探しものは何ですか</h1>
            <%= link_to "amazonListを始める", signup_path, class: "btn btn-outline-primary" %>
            <%= link_to "/auth/twitter", class: "btn-floating btn-lg btn-tw" ,method: :post do %>
               <span class="fab fa-twitter">Twitterアカウントでログイン</span> 
            <% end %>
         </div>
      </div>
   </div>
<% end %>