@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@charset "utf-8";

body {
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}

footer {
  margin-top: 40px;
}

.navbar {
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}

.navbar img {
  margin-top: 5px;
  height: 40px;
}

.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}

.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}

.fa-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}