@charset "utf-8";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


body {
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}

footer {
  margin-top: 40px;
}

.navbar {
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}

.navbar img {
  margin-top: 5px;
  height: 40px;
}

.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}

.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.search {
  margin-bottom: 20px;
}

.item .panel-body {
  height: 70px;
}

.item .panel-heading {
  height: 250px;
}

.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}

p.item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}