@charset "utf-8";
@import "bootstrap"; 
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}

footer {
  margin-top: 40px;
}

.navbar{
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}

.navbar img {
  margin-top: 5px;
  height: 40px;
}

.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}

.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}