@charset "utf-8";
@import "bootstrap"; 

body {
  background: #ffffff;
}
footer {
  margin-top: 40px;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

body {
  background: url("/images/cover-bg.jpg") center center / cover no-repeat fixed;
}
